/* !IMPORTANT : use Sidebery v5 */
#root.root {
    --nav-btn-width: 35px;
    --nav-btn-height: 35px;
    --tabs-height: 35px;
    --bookmarks-folder-height: 32px;
    --bookmarks-bookmark-height: 30px;
    --tabs-count-font: 0.5625rem inter;
    --tabs-font: 0.9375rem inter;
    --tabs-lvl-opacity: 0.16;
    --ctx-menu-font: 0.875rem inter;
    --bookmarks-bookmark-font: 0.9375rem inter;
    --bookmarks-folder-font: 0.9375rem inter;
}

.TabsPanel,
.bookmarks-tree {
    padding-left: 5px;
    padding-right: 4px;
}

/* Flatten tree when sidebar is collapsed  */
@media screen and (max-width: 50px) {
    #root {
        --tabs-indent: 0px !important;
        --bookmarks-indent: 0px !important;
    }

    .TabsPanel {
        padding-left: 3px;
        padding-right: 3px;
    }

    /* Hide static buttons to prevent obstructing the panel icons */
    .static-btns {
        visibility: collapse;
    }

    /* Forces the current active panel icon to be visible */
    .main-items > .nav-item[data-active="true"] {
        opacity: 100 !important;
        transform: initial !important;
    }

    /* Make the bookmark folder's highlight box fit better */
    .BookmarkNode > .body::before {
        left: -2px;
        width: calc(100% + 0.5em);
    }

    .close {
        display: none !important;
    }
}

/* Add glow effect to container indicator */
.ctx {
    box-shadow: 0 1px 10px 1px var(--color);
}

.Tab[data-audible="true"] .audio {
    background-color: black;
    height: 15px;
    width: 15px;
    top: 0px;
    left: 14px;
    border-radius: 50%;
}

.Tab[data-audible="true"] .t-box {
    --audio-btn-offset: 0px;
}

/* image behind sideabar? */
/* .panel-box .scrollable::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url("/image/location");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.Tab .body {
    background-color: none !important;
    backdrop-filter: blur(10px);
}

.Tab[data-active="true"] .body {
    background-color: transparent !important;
}

.bottom-space {
    background-color: rgb(0, 0, 0, 0) !important;
} */