@import url("components/autohide_tabbar.css");
@import url("components/autohide_sidebar.css");
@import url("components/context_menu.css");
@import url("components/gale.css");

.titlebar-spacer {
    display: none !important;
}

/* Rounded browser */
#appcontent {
    border-radius: 10px;
    overflow: hidden;
    margin: 1px 0px 1px 1px;
}