@import url("components/autohide_tabbar.css");
@import url("components/autohide_sidebar.css");
@import url("components/context_menu.css");
@import url("components/gale.css");

.titlebar-spacer {
    display: none !important;
}

/* Rounded browser */
#main-window:not([sizemode="fullscreen"]) #appcontent {
    border-radius: 5px;
    overflow: hidden;
}

#main-window:not([sizemode="fullscreen"]):not([sizemode="maximized"]) #appcontent {
    margin: 1px 3px 3px 1px;
}

#main-window[sizemode="maximized"] #appcontent {
    margin: 1px 0px 1px 1px;
}

* {
    font-family: "Inter", sans-serif !important;
}
