/* TODO: fix the menu bar */

/* add Scroll space to the left of the url bar */
#nav-bar #urlbar-container {
    margin-left: 75px !important;
    margin-right: 75px !important;
}

/***  Hide native tabs strip when sidebar is open ***/

#main-window {
    --uc-toolbar-height: 44px;
    --uc-window-control-width: 137px;
}
/* Tablet Mode Compatibility */
#main-window[uidensity="touch"] {
    --uc-toolbar-height: 48px;
}
/* Compact Mode Compatibility */
#main-window[uidensity="compact"] {
    --uc-toolbar-height: 36px;
}

/* Title Bar */

#main-window #titlebar {
    overflow: hidden;
    transition: all 0.3s 0.3s ease-in-out !important;
    /* Set initial height to enable animation */
    height: var(--uc-toolbar-height, 40px) !important;
}
/* Hidden state: Hide native tabs strip */
#main-window[titlepreface="[S]"] #titlebar {
    height: 0 !important;
}
/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface="[S]"] #tabbrowser-tabs {
    z-index: 0 !important;
}

#main-window #toolbar-items {
    transition: all 0.3s 0.3s ease-in-out !important;
}

/* Address bar */

#nav-bar {
    border-inline: 0px solid var(--toolbar-bgcolor);
    border-inline-style: solid !important;
    transition: all 0.3s 0.3s ease-in-out !important;
}
/* When Title Bar is hidden, make space for window controls */
#main-window[titlepreface="[S]"] #nav-bar {
    border-right-width: 137px;
}

/* Window Controls */

#main-window[titlepreface="[S]"] #TabsToolbar > .titlebar-buttonbox-container {
    visibility: visible;
    position: absolute;
    display: flex;
    right: 0;
    height: 40px;
}

#main-window[titlepreface="[S]"] #navigator-toolbox {
    position: relative;
}

/* Menu Bar */

#main-window[titlepreface="[S]"] #toolbar-menubar[autohide="true"] {
    height: var(--uc-toolbar-height, 0px) !important;
    position: relative;
}

#main-window[titlepreface="[S]"] #toolbar-menubar[autohide="false"] {
    margin-bottom: var(--uc-toolbar-height, 0px);
}

/* Make the menu bar inline with the navigation bar and add some pretty fade out */
#main-window[titlepreface="[S]"] #toolbar-menubar[autohide="true"] #main-menubar {
    flex: 1;
    background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-right: 30px solid transparent;
    border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px) 20 / 30px;
}

#main-window[titlepreface="[S]"] #toolbar-menubar:not([inactive]) {
    z-index: 5;
}

/* Enable dragging if menu bar is inactive */
#main-window[titlepreface="[S]"] #toolbar-menubar[autohide="true"][inactive] > #menubar-items {
    opacity: 0;
    pointer-events: none;
}