/* TODO: Fix history and bookmarks sidebar */

/* show sidebar when hover */
#sidebar-box {
    --uc-sidebar-width: 48px;
    --uc-sidebar-hover-width: 300px;
    --uc-autohide-sidebar-delay: 1s;
    width: var(--uc-sidebar-width) !important;
    min-width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    position: relative;
    z-index: 1;
}

#sidebar {
    /* start 1s after hover but immediately after removing hover */
    transition: min-width 0.2s ease-in-out 0s !important;
    min-width: var(--uc-sidebar-width) !important;
}

#sidebar:hover {
    transition: min-width 0.2s ease-in-out --var(--uc-autohide-sidebar-delay) !important;
}

#sidebar-box:hover > #sidebar {
    min-width: var(--uc-sidebar-hover-width) !important;
    transition-delay: 0.5s !important;
    box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.5);
}

#sidebar {
    border-inline: 1px solid var(--toolbar-field-background-color);
    border-inline-width: 0px 1px;
}

#sidebar-box[positionend] > * {
    border-inline-width: 1px 0px;
}

#main-window[sizemode="fullscreen"] #sidebar-box {
    --uc-sidebar-width: 1px;
    transition: 0.8s margin-left ease-out !important;
}

#sidebar-splitter {
    display: none !important;
}
