/***  Hide native tabs strip when sidebar is open ***/

#main-window {
    --uc-toolbar-height: 3em;
    --uc-window-control-width: 137px;
}
/* Tablet Mode Compatibility */
#main-window[uidensity="touch"] {
    --uc-toolbar-height: 3.35em;
}
/* Compact Mode Compatibility */
#main-window[uidensity="compact"] {
    --uc-toolbar-height: 2.7em;
}

/* Title Bar */

#main-window #titlebar {
    overflow: hidden;
    transition: height 0.3s 0.3s ease-in-out !important;
    /* Set initial height to enable animation */
    height: var(--uc-toolbar-height, 40px) !important;
}
/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="[S]"] #titlebar {
    height: 0 !important;
}
/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="[S]"] #tabbrowser-tabs {
    z-index: 0 !important;
}

#main-window #toolbar-items {
    transition: all 0.3s 0.3s ease-in-out !important;
}

/* Address bar */

#nav-bar {
    border-inline: 0px solid var(--toolbar-bgcolor);
    border-inline-style: solid !important;
    transition: border-inline-width 0.3s 0.3s ease-in-out !important;
}
/* When Title Bar is hidden, make space for window controls */
#main-window[titlepreface*="[S]"] #nav-bar {
    border-right-width: 137px;
}

/* Fullscreen Window Controls */

#main-window[titlepreface*="[S]"][sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container {
    visibility: visible;
    position: absolute;
    display: flex;
    right: 0;
    height: var(--uc-toolbar-height, 0px);
}

#main-window[titlepreface*="[S]"][sizemode="fullscreen"] #navigator-toolbox {
    position: relative;
}

@import url("menubar.css");