/* Menu Bar */

#main-window[titlepreface*="[S]"] #toolbar-menubar[autohide="true"] {
    height: var(--uc-toolbar-height, 0px) !important;
    position: relative;
}

#main-window[titlepreface*="[S]"] #toolbar-menubar[autohide="false"] {
    margin-bottom: var(--uc-toolbar-height, 0px);
}

/* Make the menu bar inline with the navigation bar and add some pretty fade out */
#main-window[titlepreface*="[S]"] #toolbar-menubar[autohide="true"] #main-menubar {
    flex: 1;
    background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-right: 30px solid transparent;
    border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px) 20 / 30px;
}

#main-window[titlepreface*="[S]"] #toolbar-menubar:not([inactive]) {
    z-index: 2;
}

/* Enable dragging if menu bar is inactive */
#main-window[titlepreface*="[S]"] #toolbar-menubar[autohide="true"][inactive] > #menubar-items {
    opacity: 0;
    pointer-events: none;
}