.browserContainer {
  background: var(--tf-bg);
}

browser {
  border-radius: var(--tf-rounding);
}

#browser {
  background-image: unset !important;
  background-color: var(--tf-bg) !important;
}

.browser-toolbox-background {
  background-color: var(--tf-bg) !important;
}

#tabbrowser-tabbox {
  margin: 8px !important;
  border: var(--border-width) solid var(--tf-border);
  border-radius: var(--tf-rounding);
  /*padding: 8px !important;*/
  overflow: hidden !important;
  transition: border-color var(--tf-border-transition);
	clip-path: xywh(0 0 100% 100% round 8px);
  &:hover {
    border-color: var(--tf-accent) !important;
    &::before {
      color: var(--tf-accent);
    }
  }
  &::before {
    display: var(--tf-display-titles);
    content: "main";
    background-color: var(--tf-bg);
    position: absolute;
    margin: -1.75rem 0rem;
    padding: 0 4px;
  }
}

:root[inFullscreen="true"] {
  #tabbrowser-tabbox {
    margin: 0 !important;
    border: none;
    padding: 0 !important;
    transition: none;
    &::before {
      display: none;
    }
  }
}
